/*-----------------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* ensure optimal rendering of text */
}

/*-----------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/japan-sushi-chopsticks.jpg); /* Make background image transparent in a black gradient */
    background-size: cover; /* Make img the size of the cover */
    background-position: center; /* Make img centered even as you resize browser window */
    height: 100vh; /* Make img 100% of viewport */

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Translate half of its width and height -> up and left */
}

/*-----------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------------*/

/* Centers code in the row within 1140px */
.row {
    max-width: 1140px;
    margin: 0 auto; /* Top bottom 0, Right Left auto */
}

section {
    padding: 80px 0;
    
}

.box {
    padding: 1%;
}

/* -----HEADER----- */

h1,
h2,
h3 {
    font-weight: 250;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0; /* Without this line, there will be a margin gap on the top of the hero image*/
    margin-bottom = 20px;
    color: #fff;
    font-size: 250%; /* Relative to size of html font 20px */
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

/* Adding a line color after the h2 element */
h2:after {
    display: block;
    height: 2px;
    background-color: #df0038;
    content: " "; /* make sure nothing is in this */
    width: 100px;
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* -----BUTTON----- */

/* Button a element links at a normal state, unvisited, unclicked. Don't want visited and non-visited to look different */ 
.btn:link,
.btn:visited {
    display: inline-block; /* Now can have padding and margin because a element is an inline element */
    padding: 10px 30px; /* Top Bottom 10px, Right Left 30px */
    text-decoration: none; /* Get rid of link underline */
    border-radius: 200px; /* Round of the button */
    color: #fff; /* White text color */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* Make transition of colors in 0.2 seconds */
}

.btn-full:link,
.btn-full:visited {
    background-color: #df0038;
    border: 1px solid #df0038;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #df0038;
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #ff0242;
    border: 1px solid #ff0242;
}

/* Button on hover and clicked, */
.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

/* all li in main navigation */
.main-nav li { 
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 90%;
    border-bottom: 2px solid transparent; /* Make the border transparent until it is hovered */
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #df0038;
}

/* -----PARAGRAPHS----- */
.section-text {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 150%;
}

/* -----ICONS----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #df0038;
    margin-bottom: 10px;
    text-align: center;
}

/*-----------------------------------------------------*/
/* SECTION: FEATURES */
/*-----------------------------------------------------*/
.section-features .section-text {
    margin-bottom: 40px;
}

/*-----------------------------------------------------*/
/* SECTION: MEAL SHOWCASE */
/*-----------------------------------------------------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left; /* float images side by side */
    width:25%; /* Have 4 images side by side so needs to be 25% */
}

.meal-photo {
    width: 100%; /* has exact same width as its parents */
    margin: 0; /* overriding normalize css */
    overflow: hidden; /* Make sure the scale property doesn't overflow its container */
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%; /* ensure image is as wide as its container */
    height: auto; /* height adjust according to width */
    transform: scale(1.03);
    transition: transform 0.5s, opacity 0.5s; /* animate img */
}

.meal-photo img:hover {
    transform: scale(1.15); /* 1.03 vs 1.00 fix the white space below when hovering */
    opacity: 1;
}